
<div class="container">
  <div class="ui-listings-container">


    <div class="agecare">
      <img src="https://www.agedcare101.com.au/the-donaldson-sisters/wp-content/uploads/2017/01/Kingsville-hero.jpg" alt="">
      <div class="agecare-info">
        <p class="agecare-name">Lily</p>
        <p class="agecare-rating"> <span>6</span>/10</p>
        <p class="agecare-cost">$ <span>1000</span></p>

        <div class="service-container">
          <div class="services">Food</div>
          <div class="services">Room Size</div>
          <div class="services">Phsio</div>
          <div class="services">Gym</div>
          <div class="services"></div>
          <div class="services">Swimming Pool</div>
          <div class="services">Bowling</div>
          <div class="services">Internet</div>
          <div class="services">Outings</div>
          <div class="services">Movie Theatre</div>
        </div>
      </div>

      <div>

      </div>






    </div>

    


    
  </div>
</div>