<div class="container">
  <div class="ui-listings-container">
    <div class="agecare">
      <%= @aged_care_services[0][0] %>
      <%= @aged_care_services[0][1] %>
      <%= @aged_care_services[0][2] %>
      
      <% @aged_care_services.each do |service| %>
        <div class="service"><i class="far fa-check-circle"></i> <%= service[3] %></div>
      <% end %>
    </div>    
  </div>
</div>
