<div class="container">
  <div class="ui-index-container">

    <form action="">
      <input type="text" class="search-input" placeholder="Enter suburb" name="sururb_name">
      
      <button class="search-btn">Search</button>
    </form> 

  </div>
</div>