<div class="container">
  <div class="ui-index-container">

    <form action="/listings" method="post">
      <input type="text"  name="location" class="search-input" placeholder="Enter suburb" name="sururb_name">
    <form action="/search" method="get">
      <input type="text" class="search-input" placeholder="Enter suburb" name="suburb_name">
      
      <button class="search-btn">Search</button>
    </form> 

  </div>
</div>