<div class="main-page-body">
  <div class="container">
    <div class="ui-index-container">
      <article class="search-banner">
        <img class="star" src="/images/canstar.png" alt="">
        <h1>Melbourne's Trusted<br>
          Aged Care Comparison<br>
        </h1>
        <form class="search-form" action="/listings" method="post">
          <input type="text"  name="location" class="search-input" placeholder="Enter suburb" name="suburb_name" size="55">
          <button class="search-btn">Search</button>
        </form>
      </article>
    </div>
  </div>
</div>
