<div class="container">

        <form action="/" method="post">
          <input name="userName" type="text" class="user-name" placeholder="Enter a name" >
          <input type="submit"  value="Submit">
        </form>

    </div>