<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>compare care</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
  <header class="ui-header">
    <div class="ui-intro">
      <div class="logo">
        <span >Compare Cares!</span>
      </div> 
      <div class="user-control">
        <span > 
        <a href="/signup">Sign Up</a>
        <a href="/login">Log In</a>
        </span>
      </div>
    </div>
    <nav class="ui-menu">
      
       <div class="home-menu">Home</div> 
       <div class="about-menu">About</div> 
       <div class="contact-menu">Contact Us</div>
    </nav>
  </header>
     <%= yield %>
  <footer></footer>
  
</body>
</html>