<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>compare care</title>
</head>
<body>
  <header>
    <div class="logo"></div>
    <div class="user-control">
      <a href="/signup">Sign Up</a>
      <a href="/login">Log In</a>
    </div>
  </header>
  <nav>
    <a href="">Home</a>
    <a href="">About</a>
    <a href="">Contact</a>
  </nav>
  <div class="container">
     

     <%= yield %>
  </div>
  <footer></footer>
  
</body>
</html>