<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>compare care</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/listings.css">
  <link rel="stylesheet" href="/stylesheets/services.css">
  <link rel="stylesheet" href="/stylesheets/compare.css">
  <link rel="stylesheet" href="/stylesheets/compare_graph.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
  <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
  <header class="ui-header">
    <div class="ui-intro">
      <div class="logo">
        <span >Compare Cares!</span>
      </div> 

    <% if logged_in?()%>
    <div class="user-control">
      User: <%= current_user().email %>
      <form action="/session" method="post">
        <input type="hidden"name="_method" value="delete">
        <button>logout</button>
      </form>
    
    </div>

    <% else %>
      <div class="user-control">
        <a href="/signup">Sign Up</a>
        <a href="/login">Log In</a>
      </div>

    <% end %>
    </div>
    <nav class="ui-menu">
      
       <div class="home-menu">Home</div> 
       <div class="about-menu">About</div> 
       <div class="contact-menu">Contact Us</div>
    </nav>
  </header>


  

     <%= yield %>
  <footer></footer>
  
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="./myChart.js"></script>
</html>