<div class="container">
  <div class="ui-listings-container">
    <div class="btn">
    <form action=""method="post">
    
      <button class="compare-btn">COMPARE</button>
    
    </form>
    
    </div>

    <div class="listings">
      <div class="agecare" data-id="">
        <img src="images/download.jpeg" alt="">
        <p class="agecare-name">Lily</p>
        <div class="agecare-info">
          <p class="agecare-rating"> Ratings: <span>6</span>/10</p>
          <p class="agecare-cost">Cost: $ <span>1000</span></p>
        </div>
      </div>

      <div class="agecare" name="">
        <img src="images/download.jpeg" alt="">
        <p class="agecare-name">Lily</p>
        <div class="agecare-info">
          <p class="agecare-rating"> Ratings: <span>6</span>/10</p>
          <p class="agecare-cost">Cost: $ <span>1000</span></p>
        </div>
      </div>

      <div class="agecare">
        <img src="images/download.jpeg" alt="">
        <p class="agecare-name">Lily</p>
        <div class="agecare-info">
          <p class="agecare-rating"> Ratings: <span>6</span>/10</p>
          <p class="agecare-cost">Cost: $ <span>1000</span></p>
        </div>
      </div>

      <div class="agecare">
        <img src="images/download.jpeg" alt="">
        <p class="agecare-name">Lily</p>
        <div class="agecare-info">
          <p class="agecare-rating"> Ratings: <span>6</span>/10</p>
          <p class="agecare-cost">Cost: $ <span>1000</span></p>
        </div>
      </div>
    </div> 

 </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="/javascripts/listings.js"></script>