<div class="container">
  <div class="ui-listings-container">
    <div class="btn">
    <p>Location: <%= @location %></p>
    <form action="/compare" method="post">
      <input type="hidden" name="ids_selected" value="" class="agecare-ids">
      <button class="compare-btn">Compare</button>
    
    </form>
    
    </div>

    <div class="listings">

    <%  @agecares.each do |agecare|%>
      <div class="agecare" data-id="<%= agecare.id %>">
        <img src="images/download.jpeg" alt="">
        <p class="agecare-name"><%= agecare.name %></p>
      </div>
    <% end %>
      
    </div> 

 </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="/javascripts/listings.js"></script>
<script>
  
</script>