<div class="container">
  <div class="ui-listings-container">


    <div class="agecare">
      <img src="download.jpeg" alt="">
      <div class="agecare-info">
        <p class="agecare-name">Lily</p>
        <p class="agecare-rating"> <span>6</span>/10</p>
        <p class="agecare-cost">$ <span>1000</span></p>
      </div>
    </div>

    <div class="agecare">
      <img src="" alt="">
      <div class="agecare-info">
        <p class="agecare-name">Lily</p>
        <p class="agecare-rating"> <span>6</span>/10</p>
        <p class="agecare-cost">$ <span>1000</span></p>
      </div>
    </div>

    <div class="agecare">
      <img src="download.jpeg" alt="">
      <div class="agecare-info">
        <p class="agecare-name">Lily</p>
        <p class="agecare-rating"> <span>6</span>/10</p>
        <p class="agecare-cost">$ <span>1000</span></p>
      </div>
    </div>


    
  </div>
</div>