
    <h1>Log In</h1>
    <p>New to Compare Care? <a href="/signup">Sign Up</a></p>

    <form action="/session" method="post">
      <input type="text" placeholder="Email" name="user_email">
      <input type="password" name="user_password" id="" placeholder="Password">
      <button class="log-in">Log In</button>

    </form>

 