<div class="container login-container">
  <div class="ui-login-container">
    <h1>Log In</h1>
    <p>New to Compare Cares? <a href="/signup">Sign Up</a></p>

    <form action="/session" method="post">
      <div class="form-group">
        <label for="">Email</label>
        <input type="text" placeholder="Email" name="user_email" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Password</label>
        <input type="password" name="user_password" id="" placeholder="Password" class="form-control">
      </div>
      <button class="submit-btn"><i class="fas fa-sign-in-alt"></i> Log In</button>
    </form>
  </div>

</div>


