
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>compare care</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/services.css">
</head>

<body>
<div class="body-image">
  <div class="container">
  <div class="ui-services-container">
    <form action="/services" method="post" >
      <div class="aged-care-main">
        <div class="form-group">
          <label class="title" for="name"><legend>Name of Aged Care</legend></label>
          <input class="input-area form-control" type="text" name="name" value="" />
        </div>
        <div class="form-group">
          <label class="title" for="location"><legend>Location</legend></label>
          <input class="input-area form-control" type="text" name="location" value="" />
        </div>
        <div class="form-group">
          <label class="title" for="number"><legend>Monthly Cost</legend></label>
          <input class="input-area form-control" type="number" name="cost" value="number" />
        </div>
      </div>

      <div class="services-list">
        <legend>Select Aged Care Services</legend>
        <% @services.each do |service| %>
          <div>
            <input type="checkbox" name="service[<%= service.name %>]" value="<%= service.id %>" />
            <label for="<%= service.name %>"><%= service.name %></label>
          </div>
        <% end %>
        </div>
        <button class="btn btn-primary" type="submit"><legend>Submit</legend></button>
      </div>
    </form>
  </div>
</div>
</div>
</body>
</html>



