<div class="body-image"> 
  <div class="container">
    <div class="ui-services-container">
      <form action="/services" method="post" >
        <div class="aged-care-main">
          <div class="form-group">
            <label class="title" for="name"><legend>Name of Aged Care</legend></label>
            <input class="input-area form-control" type="text" name="name" value="" />
          </div>
          <div class="form-group">
            <label class="title" for="location"><legend>Location</legend></label>
            <input class="input-area form-control" type="text" name="location" value="" />
          </div>
          <div class="form-group">
            <label class="title" for="number"><legend>Monthly Cost</legend></label>
            <input class="input-area form-control" type="number" name="cost" value="number" />
          </div>
        </div>

        <div class="services-list">
          <legend>Select Aged Care Services</legend>
          <% @services.each do |service| %>
            <div>
              <input type="checkbox" name="service[<%= service.name %>]" value="<%= service.id %>" />
              <label for="<%= service.name %>"><%= service.name %></label>
            </div>
          <% end %>
          </div>
          <button class="btn btn-primary" type="submit"><legend>Submit</legend></button>
        </div>
      </form>
    </div>
  </div>
</div>
