
    <h1>Sign Up</h1>
    <p>Already have a Compare Care account? <a href="/login">Log in</a></p>

    <form action="/signup" method="post">
      <input type="text" placeholder="Email" name="user_email">
      <input type="password" name="user_password" id="" placeholder="Password">
      <button class="submit">Submit</button>

    </form>

  