.container {
  background-color: rgb(248, 246, 245);
}

.ui-compare-container {
  display: flex;
  width: 100%;
  margin: 10px;
  height: 100%;
  align-content: stretch;
}

.ui-compare-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  padding-bottom: 20px;
  width: 100%;
}

.component {
  background-color: white;
  border: 0.1px solid rgb(236, 232, 232);
  flex-basis: 25%;
  margin: 1rem;
}
/* 
.ui-compare-component {
  width: 90%;
  margin-left: 20px;
  background-color: rgb(217, 217, 236);
  font-size: 10pt;
  padding-top: 5px;
  padding-left: 10px;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  height: 400px;
} */

/* .intro-component {
  display: flex;
  font-size: 20px;
  background-color: rgb(209, 231, 216);
} */
.intro-name {
  padding-top: 0.4em;
  padding-bottom: 0.33em;
  background-color: #80808042;
}

.intro-name,
.aged_care_content {
  padding-left: 1em;
  padding-right: 0.5em;
}

.circle-icon {
  color: green;
}

.img-wrapper {
  max-height: 130px;
  overflow: hidden;
  position: relative;
}

.cancel-icon {
  position: absolute;
  top: 1px;
  right: 1px;
  background-color: rgba(255, 255, 255, 0.8);
}

.cancel-icon img {
  width: 20px;
}

.aged_care_content {
  padding-top: 10px;
  padding-bottom: 20px;
  color: rgb(43, 41, 41);
}
