.ui-listings-container {
  width: 90%;
  height: 100%;
  background-color: rgb(248, 246, 245);
  margin-top: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

/* .logo-img {
  width: 20%;
  margin-top: 2rem;
} */

.service-container {
  display: flex;
  flex-direction: column;
}

.ui-header {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

.ui-menu a{
  font-size: 1.5rem;
  color: white;
  margin-left: 2rem;
}

.ui-intro {
  margin: 0;
  /* font-weight: bold; */
}
