
.agecare img {
  width: 20%;
  margin-top: 2rem;
}

.service-container {
  display: flex;
  flex-direction: column;
}

.ui-header {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

.ui-menu a{
  color: white;
  margin-left: 2rem;
}

.ui-intro {
  margin: 0;
  /* font-weight: bold; */
}
.ui-details-container{
  margin-top: 2rem;
  width:50%;
  display: flex;
  justify-content: space-between;
}
.services-list{
  margin: 0;
}

.agecare{
  width: 100%;
  margin-top: 0.5rem;
}
.map{
  width: 40%;
}

.googleMap{
  margin-top: 2rem;
  border-radius: 5%;
}

label{
  font-size: 1.2rem;
  font-weight: 500;
}
.name-label{
  color: green;
}

li{
  list-style: none;
}
.circle-icon {
  color: green;
 }

