* {
  box-sizing: border-box;
  margin: 0;
}
img {
  width: 100%;
}

.ui-intro {
  width: 100%;
  height: 100%;
  padding: 15px;
  margin-bottom: 15px;
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  width: 20%;
}

.user-control {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.user-control a {
  margin-right: 10px;
}

body {
  font-size: 14pt;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif,
    sans-serif;
}

.ui-header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* height: 100%; */
}

.ui-intro {
  width: 100%;
  height: 100%;
  padding: 15px;
  margin-bottom: 15px;
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* .ui-intro {
  width: 100%;
  height: 100%;
  padding: 15px;
  margin-bottom: 15px;
  flex-wrap: nowrap;
}

.user-control {
  display: flex;
  margin-left: 60%;
}

.user-control a {
  margin-right: 10px;
} */

.ui-menu {
  width: 100%;
  height: 3rem;
  background-color: rgb(165, 208, 178);
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  /* margin-bottom: 15px; */
}

.ui-menu div {
  display: inline-block;
  margin-right: 10px;
}

.ui-menu a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.logo {
  width: 20%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.main-page-body {
  background-image: url("../images/landing.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.search-banner {
  background-color: rgba(255, 255, 255, 0.8);
  width: 55%;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 2em 1em;
  width: 70%;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; */
  /* max-height: 130px;
  overflow: hidden; */
  position: relative;
  border-radius: 5%;
}

.search-banner h1 {
  font-size: 4rem;
  text-align: center;
  margin-top: 2rem;
  /* width: 30%; */
}

.ui-index-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 500px;
}

.search-btn {
  width: 100px;
  background-color: rgb(38, 42, 100);
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  padding: 15px;
}

.search-input {
  padding: 17px;
  border: 0;
  text-align: center;
  margin-left: 50px;
}

.search-input::placeholder {
  font-size: 16pt;
}

.star {
  position: absolute;
  top: 2px;
  right: 2px;
  /* background-color: rgb(255, 255, 255); */
}

img.star {
  margin: 0;
  padding: 0;
  width: 20%;
}
.search-form {
  text-align: center;
}
