* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 14pt;
  font-family: sans-serif;
}

.ui-header{
  display: flex;
  flex-wrap: wrap;
  width:100%;
  /* height: 100%;  */
}

.ui-intro{
 width:100%;
 height: 100%;
 padding: 15px;
 margin-bottom: 15px;
 flex-wrap: nowrap;
}

.user-control {
   margin-left: 70%;
}

.user-control a {
  margin-right: 10px;
}

.ui-menu {
  width:100%;
  height: 3rem;
  background-color: rgb(165,208,178);
  padding-left: 15px;
  padding-top:15px;
  padding-bottom: 15px;
  /* margin-bottom: 15px; */
}

.ui-menu div {
  display: inline-block;
  margin-right: 10px;

}

.container {
  display: flex;
  flex-wrap: wrap;
  width:100%;
  height: 100%; 
}

.ui-index-container {
 
  width:100%;
  height:600px;
  background-image: url("../images/landing.png"); 
  background-size: cover;
  background-repeat: no-repeat;
}

.ui-index-container form {
  margin-top: 20%;
  margin-left: 30%;
}
.search-btn {
  width:100px;
  background-color: rgb(38,42,100); 
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  padding: 15px;
}

.search-input {
  width:300px;
  padding: 17px;
  border: 0;
}

.search-input::placeholder {
  font-size: 16pt;
}